.dark {
    --active-tab-marker: #00af9c;
    --active-tab-marker-rgb: 0, 175, 156;
    --app-background-stripe: #163636;
    --app-background-stripe-rgb: 22, 54, 54;
    --audio-progress-incoming: #0ca448;
    --audio-progress-incoming-rgb: 12, 164, 72;
    --audio-progress-outgoing: #648d89;
    --audio-progress-outgoing-rgb: 100, 141, 137;
    --audio-progress-played-incoming: #068ed0;
    --audio-progress-played-incoming-rgb: 6, 142, 208;
    --audio-progress-played-outgoing: #0193d2;
    --audio-progress-played-outgoing-rgb: 1, 147, 210;
    --audio-track-incoming: #384349;
    --audio-track-incoming-rgb: 56, 67, 73;
    --audio-track-outgoing: #1e5953;
    --audio-track-outgoing-rgb: 30, 89, 83;
    --avatar-background: #101d24;
    --avatar-background-rgb: 16, 29, 36;
    --avatar-border: #a5aaad;
    --avatar-border-rgb: 165, 170, 173;
    --avatar-placeholder-background: #223138;
    --avatar-placeholder-background-rgb: 34, 49, 56;
    --avatar-placeholder-primary: #6d7e86;
    --avatar-placeholder-primary-rgb: 109, 126, 134;
    --background-app: #e0e0e0;
    --background-app-rgb: 224, 224, 224;
    --background-default: #101d24;
    --background-default-rgb: 16, 29, 36;
    --background-default-active: #212d33;
    --background-default-active-rgb: 33, 45, 51;
    --background-default-hover: #17242b;
    --background-default-hover-rgb: 23, 36, 43;
    --border-bubble: hsla(0, 0%, 100%, 0.06);
    --border-bubble-rgb: 255, 255, 255;
    --border-default: #303030;
    --border-default-rgb: 48, 48, 48;
    --border-list: #1c282f;
    --border-list-rgb: 28, 40, 47;
    --border-panel: #28343a;
    --border-panel-rgb: 40, 52, 58;
    --border-strong: #364147;
    --border-strong-rgb: 54, 65, 71;
    --border-stronger: hsla(0, 0%, 100%, 0.08);
    --border-stronger-rgb: 255, 255, 255;
    --butterbar-battery-background: #e05b52;
    --butterbar-battery-background-rgb: 224, 91, 82;
    --butterbar-battery-icon: rgba(241, 241, 242, 0.8);
    --butterbar-battery-icon-rgb: 241, 241, 242;
    --butterbar-battery-primary: rgba(241, 241, 242, 0.96);
    --butterbar-battery-primary-rgb: 241, 241, 242;
    --butterbar-battery-secondary: rgba(241, 241, 242, 0.8);
    --butterbar-battery-secondary-rgb: 241, 241, 242;
    --butterbar-connection-background: #febc2c;
    --butterbar-connection-background-rgb: 254, 188, 44;
    --butterbar-connection-primary: rgba(28, 40, 47, 0.96);
    --butterbar-connection-primary-rgb: 28, 40, 47;
    --butterbar-connection-secondary: rgba(28, 40, 47, 0.85);
    --butterbar-connection-secondary-rgb: 28, 40, 47;
    --butterbar-default-background: #39c;
    --butterbar-default-background-rgb: 51, 153, 204;
    --butterbar-icon: rgba(241, 241, 242, 0.8);
    --butterbar-icon-rgb: 241, 241, 242;
    --butterbar-primary: rgba(241, 241, 242, 0.96);
    --butterbar-primary-rgb: 241, 241, 242;
    --butterbar-secondary: rgba(241, 241, 242, 0.85);
    --butterbar-secondary-rgb: 241, 241, 242;
    --butterbar-update-background: #00af9c;
    --butterbar-update-background-rgb: 0, 175, 156;
    --button-alternative: #00a5f4;
    --button-alternative-rgb: 0, 165, 244;
    --button-alternative-background: #232e35;
    --button-alternative-background-rgb: 35, 46, 53;
    --button-background-disabled: #253137;
    --button-background-disabled-rgb: 37, 49, 55;
    --button-bubble: rgba(0, 175, 156, 0.7);
    --button-bubble-rgb: 0, 175, 156;
    --button-primary: #101d24;
    --button-primary-rgb: 16, 29, 36;
    --button-primary-background: #00af9c;
    --button-primary-background-rgb: 0, 175, 156;
    --button-primary-background-hover: #00c3ae;
    --button-primary-background-hover-rgb: 0, 195.4, 174.18514;
    --button-round-background: #00af9c;
    --button-round-background-rgb: 0, 175, 156;
    --button-secondary: #00af9c;
    --button-secondary-rgb: 0, 175, 156;
    --button-secondary-background: transparent;
    --button-secondary-background-rgb: 0, 0, 0;
    --button-secondary-background-hover: hsla(0, 0%, 100%, 0.05);
    --button-secondary-background-hover-rgb: 255, 255, 255;
    --button-secondary-hover: #00af9c;
    --button-secondary-hover-rgb: 0, 175, 156;
    --chat-marker: #999;
    --chat-marker-rgb: 153, 153, 153;
    --chat-marker-admin: #00af9c;
    --chat-marker-admin-rgb: 0, 175, 156;
    --chat-marker-admin-border: rgba(0, 175, 156, 0.7);
    --chat-marker-admin-border-rgb: 0, 175, 156;
    --chat-marker-border: hsla(0, 0%, 60%, 0.7);
    --chat-marker-border-rgb: 153, 153, 153;
    --compose-background: #101d24;
    --compose-background-rgb: 16, 29, 36;
    --compose-background-focused: #0c3b52;
    --compose-background-focused-rgb: 12, 59, 82;
    --compose-border-focused: #0c405a;
    --compose-border-focused-rgb: 12, 64, 90;
    --compose-panel-background: #1c282f;
    --compose-panel-background-rgb: 28, 40, 47;
    --conversation-panel-background: #0b1419;
    --conversation-panel-background-rgb: 11.29231, 20.46731, 25.40769;
    --conversation-panel-border: hsla(0, 0%, 100%, 0.08);
    --conversation-panel-border-rgb: 255, 255, 255;
    --danger: #ef697a;
    --danger-rgb: 239, 105, 122;
    --drawer-background: #0d171d;
    --drawer-background-rgb: 12.86154, 23.31154, 28.93846;
    --drawer-gallery-background: #0d171d;
    --drawer-gallery-background-rgb: 12.86154, 23.31154, 28.93846;
    --drawer-header-title: #cddad9;
    --drawer-header-title-rgb: 205, 218, 217;
    --drawer-section-background: #101d24;
    --drawer-section-background-rgb: 16, 29, 36;
    --dropdown-background: #253137;
    --dropdown-background-rgb: 37, 49, 55;
    --dropdown-background-hover: #202c33;
    --dropdown-background-hover-rgb: 32, 44, 51;
    --empty-state-background: #1c282f;
    --empty-state-background-rgb: 28, 40, 47;
    --empty-state-icon: #7c8387;
    --empty-state-icon-rgb: 124, 131, 135;
    --focus: #00a5f4;
    --focus-rgb: 0, 165, 244;
    --focus-lighter: rgba(0, 165, 244, 0.12);
    --focus-lighter-rgb: 0, 165, 244;
    --highlight: #00af9c;
    --highlight-rgb: 0, 175, 156;
    --icon: #757c80;
    --icon-rgb: 117, 124, 128;
    --icon-ack: rgba(3, 155, 229, 0.8);
    --icon-ack-rgb: 3, 155, 229;
    --icon-disabled: #3e484e;
    --icon-disabled-rgb: 62, 72, 78;
    --icon-disabled-darwin: #aeb1b3;
    --icon-disabled-darwin-rgb: 174, 177, 179;
    --icon-disabled-win32: #9b9b9b;
    --icon-disabled-win32-rgb: 155, 155, 155;
    --icon-fixed: #757c80;
    --icon-fixed-rgb: 117, 124, 128;
    --icon-lighter: hsla(0, 0%, 100%, 0.27);
    --icon-lighter-rgb: 255, 255, 255;
    --icon-search-back: #038aca;
    --icon-search-back-rgb: 3, 138, 202;
    --icon-strong: #cfd2d3;
    --icon-strong-rgb: 207, 210, 211;
    --incoming-background: #222e35;
    --incoming-background-rgb: 34, 46, 53;
    --incoming-background-deeper: #1d282e;
    --incoming-background-deeper-rgb: 29, 40, 46;
    --incoming-background-highlight: #ccc;
    --incoming-background-highlight-rgb: 204, 204, 204;
    --incoming-primary: #777d81;
    --incoming-primary-rgb: 119, 125, 129;
    --input-border-active: #00af9c;
    --input-border-active-rgb: 0, 175, 156;
    --input-placeholder: #70777c;
    --input-placeholder-rgb: 112, 119, 124;
    --intro-background: #222f36;
    --intro-background-rgb: 34, 47, 54;
    --intro-border: #054740;
    --intro-border-rgb: 5, 71, 64;
    --inverse: #f1f1f2;
    --inverse-rgb: 241, 241, 242;
    --link: #039be5;
    --link-rgb: 3, 155, 229;
    --live-location-footer-background: rgba(16, 29, 36, 0.9);
    --live-location-footer-background-rgb: 16, 29, 36;
    --live-location-glow: rgba(37, 211, 102, 0.3);
    --live-location-glow-rgb: 37, 211, 102;
    --live-location-glow-stale: rgba(255, 0, 31, 0.3);
    --live-location-glow-stale-rgb: 255, 0, 31;
    --location-cluster-background: #101d24;
    --location-cluster-background-rgb: 16, 29, 36;
    --media-editor-control: #1c313f;
    --media-editor-control-rgb: 28, 49, 63;
    --media-viewer-background: rgba(16, 29, 36, 0.98);
    --media-viewer-background-rgb: 16, 29, 36;
    --media-viewer-button-background: #1c282f;
    --media-viewer-button-background-rgb: 28, 40, 47;
    --media-viewer-button-icon: #f1f1f2;
    --media-viewer-button-icon-rgb: 241, 241, 242;
    --menu-tabs-list-active: #00af9c;
    --menu-tabs-list-active-rgb: 0, 175, 156;
    --message-background-deep: rgba(8, 14, 18, 0.35);
    --message-background-deep-rgb: 8, 14, 18;
    --message-placeholder-icon: hsla(0, 0%, 80%, 0.3);
    --message-placeholder-icon-rgb: 204, 204, 204;
    --message-selection-highlight: hsla(0, 0%, 100%, 0.05);
    --message-selection-highlight-rgb: 255, 255, 255;
    --modal-backdrop: rgba(16, 29, 36, 0.85);
    --modal-backdrop-rgb: 16, 29, 36;
    --modal-backdrop-solid: #1c282f;
    --modal-backdrop-solid-rgb: 28, 40, 47;
    --modal-background: #2d383e;
    --modal-background-rgb: 45, 56, 62;
    --notification-biz-background: #1c282f;
    --notification-biz-background-rgb: 28, 40, 47;
    --notification-biz-text: #55fad9;
    --notification-biz-text-rgb: 85, 250, 217;
    --notification-e2e-background: #1c282f;
    --notification-e2e-background-rgb: 28, 40, 47;
    --notification-e2e-icon: #fad964;
    --notification-e2e-icon-rgb: 250, 217, 100;
    --notification-e2e-text: #fad964;
    --notification-e2e-text-rgb: 250, 217, 100;
    --notification-text: hsla(0, 0%, 100%, 0.4);
    --notification-text-rgb: 255, 255, 255;
    --outgoing-background: #054740;
    --outgoing-background-rgb: 5, 71, 64;
    --outgoing-background-deeper: #053f3a;
    --outgoing-background-deeper-rgb: 5, 63, 58;
    --outgoing-background-highlight: #ccc;
    --outgoing-background-highlight-rgb: 204, 204, 204;
    --overlay: #080e12;
    --overlay-rgb: 8, 14, 18;
    --panel-background: #1c282f;
    --panel-background-rgb: 28, 40, 47;
    --panel-background-active: #1a262d;
    --panel-background-active-rgb: 26, 38, 45;
    --panel-background-colored: #054740;
    --panel-background-colored-rgb: 5, 71, 64;
    --panel-background-colored-deeper: #063935;
    --panel-background-colored-deeper-rgb: 6, 57, 53;
    --panel-background-deep: #162026;
    --panel-background-deep-rgb: 22, 32, 38;
    --panel-background-deeper: #1a252c;
    --panel-background-deeper-rgb: 26, 37, 44;
    --panel-background-hover: #1b272e;
    --panel-background-hover-rgb: 27, 39, 46;
    --panel-background-lighter: #1a252c;
    --panel-background-lighter-rgb: 26, 37, 44;
    --panel-primary: hsla(0, 0%, 100%, 0.35);
    --panel-primary-rgb: 255, 255, 255;
    --payment-amount: #00a593;
    --payment-amount-rgb: 0, 164.8, 146.90743;
    --payment-status-failed: #ef697a;
    --payment-status-failed-rgb: 239, 105, 122;
    --payment-status-processing: hsla(0, 0%, 100%, 0.45);
    --payment-status-processing-rgb: 255, 255, 255;
    --payment-status-success: #07bc4c;
    --payment-status-success-rgb: 7, 188, 76;
    --payment-status-waiting: hsla(0, 0%, 100%, 0.45);
    --payment-status-waiting-rgb: 255, 255, 255;
    --photopicker-overlay-background: rgba(33, 44, 49, 0.8);
    --photopicker-overlay-background-rgb: 33, 44, 49;
    --popup-panel-background: rgba(8, 14, 18, 0.2);
    --popup-panel-background-rgb: 8, 14, 18;
    --primary: #a5aaad;
    --primary-rgb: 165, 170, 173;
    --primary-strong: #d4d5d7;
    --primary-strong-rgb: 212, 213, 215;
    --primary-stronger: rgba(241, 241, 242, 0.87);
    --primary-stronger-rgb: 241, 241, 242;
    --primary-title: rgba(212, 213, 215, 0.97);
    --primary-title-rgb: 212, 213, 215;
    --product-thumb-background: #1c282f;
    --product-thumb-background-rgb: 28, 40, 47;
    --product-thumb-background-deeper: #2b3e49;
    --product-thumb-background-deeper-rgb: 43.232, 61.76, 72.568;
    --ptt-blue: #4fc3f7;
    --ptt-blue-rgb: 79, 195, 247;
    --ptt-button-cancel: rgba(229, 57, 53, 0.8);
    --ptt-button-cancel-rgb: 229, 57, 53;
    --ptt-button-send: rgba(9, 210, 97, 0.8);
    --ptt-button-send-rgb: 9, 210, 97;
    --ptt-gray: hsla(0, 0%, 100%, 0.4);
    --ptt-gray-rgb: 255, 255, 255;
    --ptt-green: #09d261;
    --ptt-green-rgb: 9, 210, 97;
    --ptt-message-blue: #039be5;
    --ptt-message-blue-rgb: 3, 155, 229;
    --quick-action-button: hsla(0, 0%, 100%, 0.5);
    --quick-action-button-rgb: 255, 255, 255;
    --quick-action-button-background: rgba(8, 14, 18, 0.6);
    --quick-action-button-background-rgb: 8, 14, 18;
    --rich-text-panel-background: #1c282f;
    --rich-text-panel-background-rgb: 28, 40, 47;
    --secondary: hsla(0, 0%, 100%, 0.6);
    --secondary-rgb: 255, 255, 255;
    --secondary-light: hsla(0, 0%, 100%, 0.25);
    --secondary-light-rgb: 255, 255, 255;
    --secondary-lighter: hsla(0, 0%, 100%, 0.45);
    --secondary-lighter-rgb: 255, 255, 255;
    --secondary-stronger: hsla(0, 0%, 100%, 0.8);
    --secondary-stronger-rgb: 255, 255, 255;
    --shadow: #000;
    --shadow-rgb: 0, 0, 0;
    --shadow-light: rgba(0, 0, 0, 0.08);
    --shadow-light-rgb: 0, 0, 0;
    --spinner-default: #75787a;
    --spinner-default-rgb: 117, 120, 122;
    --spinner-highlight: #00af9c;
    --spinner-highlight-rgb: 0, 175, 156;
    --spinner-incoming: #646d72;
    --spinner-incoming-rgb: 100, 109, 114;
    --spinner-outgoing: #507e79;
    --spinner-outgoing-rgb: 80, 126, 121;
    --status-background: #000;
    --status-background-rgb: 0, 0, 0;
    --status-background-hover: #242424;
    --status-background-hover-rgb: 36, 36, 36;
    --status-primary: #fff;
    --status-primary-rgb: 255, 255, 255;
    --status-secondary: hsla(0, 0%, 100%, 0.55);
    --status-secondary-rgb: 255, 255, 255;
    --status-secondary-stronger: #b3b3b3;
    --status-secondary-stronger-rgb: 179, 179, 179;
    --success: #00af9c;
    --success-rgb: 0, 175, 156;
    --suspicious-background: rgba(239, 105, 122, 0.8);
    --suspicious-background-rgb: 239, 105, 122;
    --system-message-background: #1e2a30;
    --system-message-background-rgb: 30, 42, 48;
    --system-message-text: hsla(0, 0%, 100%, 0.87);
    --system-message-text-rgb: 255, 255, 255;
    --teal-hover: #00b7a1;
    --teal-hover-rgb: 0, 183, 161;
    --teal-pale: #5fc8bc;
    --teal-pale-rgb: 95, 200, 188;
    --thumb-border-active: #75787a;
    --thumb-border-active-rgb: 117, 120, 122;
    --thumb-border-viewer-active: #75787a;
    --thumb-border-viewer-active-rgb: 117, 120, 122;
    --toast-background: rgba(8, 14, 18, 0.96);
    --toast-background-rgb: 8, 14, 18;
    --tooltip-background: rgba(89, 89, 89, 0.85);
    --tooltip-background-rgb: 89.25, 89.25, 89.25;
    --typing: #00af9c;
    --typing-rgb: 0, 175, 156;
    --unread-background: #1c282f;
    --unread-background-rgb: 28, 40, 47;
    --unread-bar-background: rgba(8, 14, 18, 0.3);
    --unread-bar-background-rgb: 8, 14, 18;
    --unread-marker-background: #00af9c;
    --unread-marker-background-rgb: 0, 175, 156;
    --unread-marker-text: #101d24;
    --unread-marker-text-rgb: 16, 29, 36;
    --video-player-background: #000;
    --video-player-background-rgb: 0, 0, 0;
    --video-primary: #fff;
    --video-primary-rgb: 255, 255, 255;
    --voip-accept-background: #39d575;
    --voip-accept-background-rgb: 57, 213, 117;
    --voip-background: #262626;
    --voip-background-rgb: 38, 38, 38;
    --voip-background-deep: #000;
    --voip-background-deep-rgb: 0, 0, 0;
    --voip-primary: #fff;
    --voip-primary-rgb: 255, 255, 255;
    --voip-reject-background: #e54b40;
    --voip-reject-background-rgb: 229, 75, 64;
    --win32-title-primary: #fff;
    --win32-title-primary-rgb: 255, 255, 255;
}
